<!DOCTYPE html>
<html>
  <head>
    <%- include('../../views/partial/meta'); %>
    <title>Change Password</title>
    <%- include('../../views/partial/stylesheets'); %>
  </head>
  <body>
    <header>
      <%- include('../../views/partial/nav'); %>
    </header>
    <div class="container-fluid vh-100" style="margin-top: 10px">
        <div class="" style="margin-top: 100px">
          <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
              <div class="text-center">
                <h3 class="text-primary">Change Password</h3>
              </div>
              <form method="post">
                <div class="p-4">
                  <!--New Password-->
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary"
                      ><i class="bi bi-key-fill text-white"></i
                    ></span>
                    <input
                      id="password1"
                      type="password"
                      class="form-control"
                      placeholder="Enter new password"
                    />
                  </div>
                  <!--Confirm New Password-->
                  <div class="input-group mb-3">
                    <span class="input-group-text bg-primary"
                      ><i class="bi bi-key-fill text-white"></i
                    ></span>
                    <input
                      id="password2"
                      type="password"
                      class="form-control"
                      placeholder="Re-enter new password"
                    />
                  </div>
                  <input type="hidden" id="hash" name="hash" />
                  <input type="hidden" id="salt" name="salt" />
                  <div class="text-center">
                    <button class="btn btn-primary mt-2" type="submit">
                      Change Password
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
