<!DOCTYPE html>
<html>
  <head>
    <title>Transaction History</title>
    <%- include('../views/partial/stylesheets'); %>
  </head>
  <body>
    <header>
      <%- include('../views/partial/nav'); %>
    </header>
    
  </body>
</html>
